<header>
  <nav class="menu">
    <div class="menu__toggle">
      <input type="checkbox" id="checkMenu">
      <span></span>
      <span></span>
      <span></span>
      <ul class="navbar">
        <li>
          <a class="link-item" [routerLink]="['/home']">Home</a>
        </li>
        <li>
          <a class="link-item" [routerLink]="['/character-list']">Character</a>
        </li>
        <li>
          <a class="link-item" [routerLink]="['/episodes']">Episodes</a>
        </li>
        <li>
          <a class="link-item" [routerLink]="['/about']">About</a>
        </li>
      </ul> 
    </div>
  </nav>
</header>